@charset "UTF-8";
/*!
 * ress.css • v1.1.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue", "Segoe UI","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}

html {
  font-size: 62.5%;
  background: #E2EAFC;
}

body {
  max-width: 1440px;
  height: auto;
  margin: 30px auto;
}

a {
  color: #000;
}

a:hover {
  color: red;
}

.head {
  width: 100%;
}

.head__list {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.head__list__logo {
  margin-left: 40px;
}

.head__list__text {
  width: 500px;
  position: relative;
  margin-left: 100px;
  font-size: 2rem;
}

.head__list__text input {
  width: 500px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 15px;
  position: absolute;
  background: #FFF;
  padding: 0 20px;
}

.head__list__text img {
  position: relative;
  left: 450px;
  top: 10px;
}

.head__list__margin {
  margin-left: 90px;
}

.head__list__item {
  padding-top: 15px;
  font-size: 2rem;
}

.head__list__item img {
  margin: 0 15px;
}

.head__list__item a {
  text-decoration: none;
}

.head__list__icon {
  margin-top: 5px;
}

.head__list__icon:hover {
  -webkit-filter: invert(1) sepia(100);
          filter: invert(1) sepia(100);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.head__background {
  width: 100%;
  height: 95px;
  background: aquamarine;
  margin-top: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__mainL {
  width: 64%;
  text-align: center;
}

.main__mainL__qc {
  margin-top: 10px;
  width: 100%;
  height: 470px;
  background: url("../img/img_ssnote10.svg") left no-repeat;
  padding-top: 370px;
  background-position: center;
  padding-left: 250px;
}

.main__mainL__qc input {
  width: 150px;
  height: 40px;
  border: solid 1px #61BBAD;
  border-radius: 15px;
  font-weight: normal;
}

.main__mainL__qc input:link, .main__mainL__qc input:visited {
  color: #61BBAD;
  background-color: inherit;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main__mainL__qc input:hover {
  color: #FFF;
  background: #61BBAD;
}

.main__mainL__list1 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

.main__mainL__list1 li {
  width: 200px;
  height: 90px;
  padding-top: 30px;
}

.main__mainL__list1 li:nth-child(4n+1) {
  background: #ED2828;
}

.main__mainL__list1 li:nth-child(4n+2) {
  background: #205BE2;
}

.main__mainL__list1 li:nth-child(4n+3) {
  background: #109A45;
}

.main__mainL__list1 li:nth-child(4n) {
  background: #E634DF;
}

.main__mainL__list1 li a {
  text-decoration: none;
  color: #FFF;
  font-size: 2rem;
  text-transform: uppercase;
}

.main__mainL__list2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__mainL__list2 a {
  text-decoration: none;
}

.main__mainL__list2 a h3, .main__mainL__list2 a span {
  font-size: 2rem;
}

.main__mainL__list2 a p {
  font-size: 1.5rem;
}

.main__mainL__list2 a img:hover {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main__mainR {
  margin-top: 10px;
  width: 35%;
}

.main__mainR__list {
  list-style-type: none;
}

.main__mainR__list__item {
  margin-bottom: 35px;
}

.main__mainR__list__item h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: normal;
  color: red;
}

.main__mainR__list__item h2 a {
  font-size: 2rem;
  text-transform: none;
  float: right;
  padding-top: 10px;
}

.main__mainR__list__item__listQc {
  list-style-type: none;
  font-size: 2rem;
}

.main__mainR__list__item__listQc li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  margin-top: 35px;
}

.main__mainR__list__item__listQc li a figure {
  margin-right: 20px;
}

.main__mainR__list__item__listQc li a span {
  line-height: 1.5;
}

.main__mainR__list__item h3 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
}

.main__mainR__list__item form {
  font-size: 2rem;
}

.main__mainR__list__item form div {
  margin-top: 20px;
}

.main__mainR__list__item form div input {
  width: 300px;
  height: 40px;
  background: #FFF;
  margin-left: 30px;
  padding-left: 10px;
  font-size: 15px;
}

.main__mainR__list__item form div #email {
  margin-left: 34px;
}

.main__mainR__list__item form #signUp {
  width: 110px;
  height: 35px;
  background: red;
  color: #fff;
  margin: 20px 0 0 87px;
  border-radius: 10px;
  -webkit-box-shadow: 0 -3px 0 orange inset;
          box-shadow: 0 -3px 0 orange inset;
}

.main__mainR__list__item form #signUp:hover {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: seagreen;
}

.main__mainR__list .box1 {
  border: 1px solid red;
  padding: 13px;
}

.main__mainR__list .box2 {
  border: 1px solid red;
  padding: 15px 40px 30px 40px;
  margin-bottom: 5px;
}

.main__mainB {
  width: 100%;
}

.main__mainB__list {
  border-top: 1px dotted #109A45;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__mainB__info {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: normal;
  border-top: 1px dotted #109A45;
  text-align: center;
}

.main__mainB__info h3 {
  font-size: 3rem;
  margin: 50px 0 30px;
}

.main__mainB__info__link, .main__mainB__info span {
  font-size: 1.5rem;
  list-style-type: none;
  line-height: 1.5;
}

.main__mainB__info__link a, .main__mainB__info span a {
  text-decoration: none;
}

.footer {
  margin: 50px 0 0 0;
  padding-top: 4px;
  width: 100%;
  height: 30px;
  font-size: 1.3rem;
  background: #FFF;
  text-align: center;
}

.chatBox {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.chatBox__messenger {
  opacity: 50%;
  font-size: 1.5rem;
  width: 350px;
  height: 180px;
  border-radius: 20px;
  background: #A3FFA7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px;
}

.chatBox__messenger:hover {
  opacity: 100%;
}

.chatBox__messenger__link {
  font-size: 20px;
  text-align: left;
  height: 50px;
}

.chatBox__messenger__exit {
  opacity: 100%;
  text-align: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: #707070;
  cursor: pointer;
}

.chatBox__messenger__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
}

.chatBox__messenger__text img {
  text-align: center;
}

.chatBox__messenger__text p {
  text-align: center;
  width: 250px;
  height: 40px;
  background: #E5E5E5;
  border-radius: 20px;
  padding: 1px;
}

.chatBox__messenger__button {
  width: 200px;
  height: 30px;
  background: #60B9F3;
  border-radius: 10px;
  margin-left: 70px;
  position: relative;
  padding: 5px;
}

.chatBox__messenger__button input {
  position: absolute;
  left: 40px;
}

.chatBox__messengerIcon {
  margin-left: 300px;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #60B9F3;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}
